<div id="sideWindow">
	<h3>Control Panel</h3>
	<div id="buttonWindow">
		<button id="allDesc">Descriptions</button>
		<button id="allSeq">Sequences</button>
		<button id="holes">Holes</button>
		<div id="bigSearch">
			
			<label for="classIn">Class</label><br>
			<select id="classIn">
				<option value="None">None</option>
				<option value="Asteroidea">Asteroidea</option>
				<option value="Branchiostoma">Branchiostoma</option>
				<option value="Crinoidea">Crinoidea</option>
				<option value="Echinoidea">Echinoidea</option>
				<option value="Holothuroidea">Holothuroidea</option>
				<option value="Ophiuroidea">Ophiuroidea</option>
				<option value="Saccoglossus">Saccoglossus</option>
			</select><br>	
			<label for="taxonIn">Genus</label><br>
			<select id="taxonIn"><option value="None">None
			</option><option value="Psathryometra
			">Psathryometra
			</option><option value="Xyloplax
			">Xyloplax
			</option><option value="Echinaster
			">Echinaster
			</option><option value="Ophiocoma
			">Ophiocoma
			</option><option value="Ophiothrix
			">Ophiothrix
			</option><option value="Pteraster
			">Pteraster
			</option><option value="Synapta
			">Synapta
			</option><option value="Strongylocentrotus
			">Strongylocentrotus
			</option><option value="Pisaster
			">Pisaster
			</option><option value="Psolus
			">Psolus
			</option><option value="Stichopus
			">Stichopus
			</option><option value="Oligometra
			">Oligometra
			</option><option value="Democrinus
			">Democrinus
			</option><option value="Peribolaster
			">Peribolaster
			</option><option value="Psilaster
			">Psilaster
			</option><option value="Labidiaster
			">Labidiaster
			</option><option value="Remaster
			">Remaster
			</option><option value="Gephyrocrinus
			">Gephyrocrinus
			</option><option value="Asthenosoma
			">Asthenosoma
			</option><option value="Luidia
			">Luidia
			</option><option value="Henricia
			">Henricia
			</option><option value="Astropecten
			">Astropecten
			</option><option value="Porania
			">Porania
			</option><option value="Asteropsis
			">Asteropsis
			</option><option value="Lophaster
			">Lophaster
			</option><option value="Cheiraster/Luidiaster
			">Cheiraster/Luidiaster
			</option><option value="Odindella
			">Odindella
			</option><option value="Ptilometra
			">Ptilometra
			</option><option value="Cenolia
			">Cenolia
			</option><option value="Phrixometra
			">Phrixometra
			</option><option value="Isometra
			">Isometra
			</option><option value="Promachocrinus
			">Promachocrinus
			</option><option value="Arbacia
			">Arbacia
			</option><option value="Eucidaris
			">Eucidaris
			</option><option value="Dendraster
			">Dendraster
			</option><option value="Psolus
			">Psolus
			</option><option value="Paelopatides
			">Paelopatides
			</option><option value="Abyssocucumis
			">Abyssocucumis
			</option><option value="Pseudostichopus
			">Pseudostichopus
			</option><option value="Molpadia
			">Molpadia
			</option><option value="Pannychia
			">Pannychia
			</option><option value="Astrophyton
			">Astrophyton
			</option><option value="Ophioderma
			">Ophioderma
			</option><option value="Kowalevskii
			">Kowalevskii
			</option><option value="Floridae
			">Floridae
			</option></select><br>
			
			<label for="readIn">Read Depth</label><br>
			<input type="number" id="readstartIn" placeholder="start"><br><span id="rdspan">to</span><br><input type="number" id="readendIn" placeholder="end"><br>
			<label for="goIn">Go Term</label><br>
			<input type="text" id="goIn"> <input type="checkbox" id="inclGo"><br>
			<label for="descIn">Description</label><br>
			<input type="text" id="descIn"><br>
			<label for="count">Return Count</label><br>
			<input type="number" id="count" value="10"><br>
			
			<!--Radio group-->
			<ul id="radiolist">
				<li>
					<label>Search</label><br>
					<input type="radio" name="querytype" value="search" checked>
				</li>
				<li>
					<label>Amino Fasta</label><br>
					<input type="radio" name="querytype" value="amino">
				</li>
				<li>
					<label>Coding Fasta</label><br>
					<input type="radio" name="querytype" value="coding">
				</li>
				<li>
					<label>Nuc. Fasta</label><br>
					<input type="radio" name="querytype" value="nucleotide">
				</li>
			</ul>
			<br>
			<button id="runSearch">Execute</button>
		</div>
	</div>	
	<div class="spinner">
				<div class="rect1"></div>
				<div class="rect2"></div>
				<div class="rect3"></div>
				<div class="rect4"></div>
				<div class="rect5"></div>
			</div>	
</div>
<div id="display">
	<!--<div id="tableDisp" class="ui-layout-center">-->
		<div id="tableHolder">
			
		</div> 
		
		<div id="buttonSet">
			<div id="previous">Previous</div>
			<div id="next">Next</div>
		</div>
	<!--</div>-->
	
	<!--<div id="graphicDisp" class="ui-layout-south">
	</div>-->
</div>
