<div id="sideWindow">
	<h3>Control Panel</h3>
	<div id="buttonWindow">
		<button id="allDesc">Descriptions</button>
		<button id="allSeq">Sequences</button>
		<button id="holes">Holes</button>
		<div id="bigSearch">
			<label for="taxonIn">Taxon</label>
			<input type=text id="taxonIn">
			<label for="descin">Description</label>
			<input type=text id="descIn">
			<label for="readIn">Read Depth</label>
			<input type=text id="readIn">
			<label for="goIn">Go Reduction</label>
			<input type=text id="goIn">
			<button id="runSearch">Search</button>
		</div>
	</div>	
		
</div>
<div id="display">
	<!--<div id="tableDisp" class="ui-layout-center">-->
		<div id="tableHolder">
			<div class="spinner">
				<div class="rect1"></div>
				<div class="rect2"></div>
				<div class="rect3"></div>
				<div class="rect4"></div>
				<div class="rect5"></div>
			</div>
		</div> 
		
		<div id="buttonSet">
			<div id="previous">Previous</div>
			<div id="next">Next</div>
		</div>
	<!--</div>-->
	
	<!--<div id="graphicDisp" class="ui-layout-south">
	</div>-->
</div>
