<h1 id="welcome">Welcome to Echino</h1>

<div id="info">
	<p>The Echino database contains a mix of sequences from a number of sources...</p>
	<p>EchinoDB is an effort of the Echinoderm Tree of Life Project and is based upon work supported by the National Science Foundation </p>
</div>
<div id="treeImage">
	
</div>
<button id="enterBut">Enter</button>