<div id="backdrop">

	<div id="tabletop">
		<div id="passform">
			<label for="loginName" id="namelabel">User ID</label>
			<br>
			<input type="text" id="loginName">
			<br>
			<label for="loginPW" id= "pwlabel">Password</label>
			<br>
			<input type="password" id="loginPW">
		</div>
		
		<button id="enterBut">Enter</button>
	</div>

</div>
